$red: #ff3213;
$orange: #ff971c;
$yellow: #ffd500;
$green: #72cb3b;
$blue: #0341ae;
$purple: #9247ed;
$light: #e5f8f8;
$dark: #020334;

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
