$red: #ff3213;
$orange: #ff971c;
$yellow: #ffd500;
$green: #72cb3b;
$blue: #0341ae;
$purple: #9247ed;
$light: #e5f8f8;
$dark: #020334;
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Base colors definitions
$indigo: #6610f2 !default;
$pink: #e83e8c !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

// Theme color default definitions
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;

// This table defines the theme colors (variant names)
$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "blue": $blue,
    "purple": $purple,
  ),
  $theme-colors
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";
@import "~vue-simple-markdown/dist/vue-simple-markdown.css";

@font-face {
  font-family: "HomepageBaukasten";
  src: local("HomepageBaukasten"),
    url(./fonts/HomepageBaukasten-Book.ttf) format("truetype");
}

@font-face {
  font-family: "HomepageBaukasten-bold";
  src: local("HomepageBaukasten-bold"),
    url(./fonts/HomepageBaukasten-Bold.ttf) format("truetype");
}

* {
  font-family: "HomepageBaukasten";
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Lato";
  height: 100%;
}

.tab-title {
  font-size: 3vh;
  font-weight: bold;
}

@media (max-width: 575px) {
  .hide-xs {
    display: none;
  }
}

@media (min-width: 576px) {
  .show-xs {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-sm {
    display: none;
  }
}

@media (max-width: 991px) {
  .hide-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .hide-lg {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hide-xl {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .show-xl {
    display: none;
  }
}

.hidden {
  display: none;
}
